{% extends 'site/base.html' %}

{% block title %}My Schedule{% endblock %}

    {% block head_css_section %}
        {% load static %}
        <link href="{% static "shifts/fullcalendar.min.css" %}" rel='stylesheet' />
        <link href="{% static "shifts/scheduler.min.css" %}" rel='stylesheet' />
        <link href="{% static "shifts/fullcalendar.print.min.css" %}" rel='stylesheet' media="print" />
    {% endblock head_css_section %}

    {% block head_css_page %}
        <style>

        body {

            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }
            h2{
                font-size: 14px;
                font-weight: bolder;
            }

    </style>
    {% endblock head_css_page %}

{% block head_js %}
    {% load static %}
    <script src="{% static "shifts/lib/moment.min.js" %}"></script>
    <script src="{% static "shifts/fullcalendar.min.js" %}"></script>
    <script src="{% static "shifts/scheduler.min.js" %}"></script>

    <script>

	   $(document).ready(function() {
       $('select').material_select();
		$('#calendar').fullCalendar({
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            height: 400,
            contentHeight: 400,
            header: {
				left: 'prev',
				center: 'title',
				right: 'next today'
			},
            views: {
                agendaDay: {
                    buttonText: "Agenda",
                    slotDuration: '00:20:00',
                    snapDuration: '00:05:00',
                    displayEventEnd: true,
                    displayEventTime: true,
                },
            },
            defaultView: 'listDay',
			//defaultDate: '2017-09-12',
			editable: false,
			eventLimit: true, // allow "more" link when too many events
            eventSources: [
                // your event source
                {
                    url: '/wfm/events/', // use the `url` property
                },
            ],
            eventDrop: function(event, delta, revertFunc) {
                //alert(event.title + " was dropped on " + event.start.format());

                if (!confirm("Are you sure about this change?")) {
                    revertFunc();
                }

            },
            eventResize: function(event, delta, revertFunc) {

                alert(event.title + " end is now " + event.end.format());

                if (!confirm("is this okay?")) {
                    revertFunc();
                }

            }
		});


	});

    </script>
{% endblock head_js %}
{% block pagetitle %}Agent Dashboard{% endblock pagetitle %}

{% block content %}
<div class="">
    <div class="row">

      <div class="col s5">
          <!-- My Schedule -->
          <div class="row">
            <div id='calendar' class="col s12"></div>
          </div>
          <div class="row">
            <div id="states" class="input-field col s12">
              <select id="agentState" name="agentState">
  							<option value="" disabled selected>Choose a state</option>
  							<option value="resume">Ready</option>
  							<option value="Wrapup Time">Wrapup Time</option>
  							<option value="Break">Break</option>
  							<option value="Lunch">Lunch</option>
  							<option value="Personal">Personal</option>
  							<option value="Email">Email</option>
  							<option value="Meeting">Meeting</option>
  							<option value="Outbound Call">Outbound Call</option>
  							<option value="Chat">Chat</option>
  							<option value="Coaching">Coaching</option>
  							<option value="Training">Training</option>
  							<option value="Aux 1">Aux 1</option>
  							<option value="Aux 2">Aux 2</option>
  							<option value="Aux 3">Aux 3</option>
  							<option value="login">Log In</option>
  							<option value="logout">Log Out</option>
  						</select>
  						<label>Agent State</label>
            </div>
          </div>

      </div>

      <div class="col s7">
        <!-- My Stats -->
          <div class="row" id="stat" style="height:300px;">
                {% autoescape off %}
                {{ stats }}
              {% endautoescape %}

          </div>
          <div class="row" id="stat2">
                {% autoescape off %}
                {{ stats }}
              {% endautoescape %}
          </div>
      </div>

    </div>
</div>
{% endblock content %}
