{% extends 'site/base.html' %}

{% block title %}My Schedule{% endblock %}

    {% block head_css_section %}
        {% load static %}
        <link href="{% static "shifts/fullcalendar.min.css" %}" rel='stylesheet' />
        <link href="{% static "shifts/scheduler.min.css" %}" rel='stylesheet' />
        <link href="{% static "shifts/fullcalendar.print.min.css" %}" rel='stylesheet' media="print" />
    {% endblock head_css_section %}

    {% block head_css_page %}
        <style>

        body {

            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }
            h2{
                font-size: 14px;
                font-weight: bolder;
            }

    </style>
    {% endblock head_css_page %}

{% block head_js %}
    {% load static %}
    <script src="{% static 'shifts/lib/moment.min.js' %}"></script>
    <script src="{% static 'shifts/fullcalendar.min.js' %}"></script>
    <script src="{% static 'shifts/scheduler.min.js'' %}"></script>
    <script src="{% static 'js/axios.js' %}"></script>
    <script>


	   $(document).ready(function() {
        var $input = $('.datepicker').pickadate();
        var picker = $input.pickadate('picker');
        picker.on('set', function(thingSet) {
          var mom = this.get();
            if (mom.length > 0){
                var momentObj = moment(mom, 'DD MMMM, YYYY');
                $('#calendar').fullCalendar('gotoDate', momentObj);
            }
        });
       $('select').material_select();
		$('#calendar').fullCalendar({
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            height: 600,
            contentHeight: 600,
            customButtons: {
                calendarButton: {
                  text: 'calendar',
                  click: function() {
                    var $input = $('.datepicker').pickadate();
                    var picker = $input.pickadate('picker');
                    picker.open(false);
                    picker.on('open', function() {
                      //console.log('This logs without opening!');
                    });
                  }
                },
                refreshButton: {
                  text: 'refresh',
                  click: function() {
                    $('#calendar').fullCalendar( 'refetchEvents' );
                  }
                },
              },
            header: {
				left: 'prev',
				center: 'title',
				right: 'next today calendarButton refreshButton'
			},
            views: {
                agendaDay: {
                    buttonText: "Agenda",
                    slotDuration: '00:20:00',
                    snapDuration: '00:05:00',
                    displayEventEnd: true,
                    displayEventTime: true,
                },
            },
            defaultView: 'listDay',
			//defaultDate: '2017-09-12',
			editable: false,
			eventLimit: true, // allow "more" link when too many events
            eventSources: [
                // your event source
                {
                    url: '/wfm/events/', // use the `url` property
                },
            ],
            eventDrop: function(event, delta, revertFunc) {
                //alert(event.title + " was dropped on " + event.start.format());

                if (!confirm("Are you sure about this change?")) {
                    revertFunc();
                }

            },
            eventResize: function(event, delta, revertFunc) {

                alert(event.title + " end is now " + event.end.format());

                if (!confirm("is this okay?")) {
                    revertFunc();
                }

            }
		});

        var d = new Date();
        var firstHour = d.getHours() - 5;
        $('#generalCalendar').fullCalendar({
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            height: 600,
            contentHeight: 600,
            customButtons: {
                calendarButton: {
                  text: 'calendar',
                  click: function() {
                    var $input = $('.datepicker').pickadate();
                    var picker = $input.pickadate('picker');
                    picker.open(false);
                    picker.on('open', function() {
                      //console.log('This logs without opening!');
                    });
                  }
                },
                refreshButton: {
                  text: 'refresh',
                  click: function() {
                    $('#generalCalendar').fullCalendar( 'refetchEvents' );
                  }
                },
              },
            header: {
                
				left: 'prev',
				center: 'title',
				right: 'next today'
			},
            nowIndicator: true,
            resourceOrder: 'title,',
            slotDuration: '02:00:00',
            displayEventEnd: true,
            displayEventTime: true,
            defaultView: 'timelineDay',
            scrollTime: { hours: firstHour, minutes:0 },
			editable: false,
            resourceLabelText: "Name",
			eventLimit: true, // allow "more" link when too many events
            resources: {
                url: '/wfm/generalResources/',
                type: 'GET'
              },
            events:
                {
                    url: '/wfm/general_team_events/', // use the `url` property
                },
            eventMouseover: function(event, jsEvent, view){
                var msg = "<strong>" + event.title + "</strong><br/>From: " + event.start.format("h:mm A") + "<br/>To: " + event.end.format("h:mm A");
                var tooltip = '<div class="tooltipevent" style="width:150px;height:60px;background:#fff;position:absolute;z-index:10001;">' + msg + '</div>';
                var $tooltip = $(tooltip).appendTo('body');

                $(this).mouseover(function(e) {
                    $(this).css('z-index', 10000);
                    $tooltip.fadeIn('500');
                    $tooltip.fadeTo('10', 1.9);
                }).mousemove(function(e) {
                    $tooltip.css('top', e.pageY + 10);
                    $tooltip.css('left', e.pageX + 20);
                });
            },
            eventMouseout: function(calEvent, jsEvent) {
                $(this).css('z-index', 8);
                $('.tooltipevent').remove();
            }
		});

        new Vue({
            el: '#stats',
            delimiters: ['${','}'],
              data () {
                return {
                  calls: 0,
                  aht: 0,
                  awt: 0,
                  chats: 0,
                  act: 0,
                  emails: 0,
                }
              },
              methods: {
                loadData: function(){
                    axios
                  .get('/agent/stats')
                  .then(({data})=>{
                    this.calls= data.calls,
                    this.aht = data.aht,
                    this.awt = data.awt,
                    this.chats = data.chats,
                    this.act = data.act,
                    this.emails = data.emails
                    });
                }  
              },
              mounted () {
                this.loadData();

                setInterval(function () {
                  this.loadData();
                }.bind(this), 1000); 
              }
        });

        new Vue({
            el: '#conts',
            delimiters: ['${','}'],
              data: {
                contacts: []
              },
               methods: {
                loadData: function () {
                  axios
                  .get('/agent/contacts')
                  .then(({data})=>{
                    this.contacts = data
                });
                }
              },
            mounted () {
                this.loadData();
                
                setInterval(function () {
                  this.loadData();
                }.bind(this), 1000); 
            }
              
                
        });
           
        var selectEl = document.getElementById('agentState');
           
        selectEl.onchange = function(){				
            var theUrl = "/agent/status/" + this.value;
            console.log(theUrl);
            var xmlHttp = new XMLHttpRequest();

            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    var stat = JSON.parse(xmlHttp.responseText);
                    $('#statusMessage').text(stat['status']);
                }
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencodeds");
            xmlHttp.send();
        };
	});

    </script>
{% endblock head_js %}
{% block pagetitle %}Agent Dashboard{% endblock pagetitle %}

{% block content %}
<div class="">
    
    <div class="col s2">
    <input id="minCalendar" type="text" class="datepicker hide">
  </div>
    <div class="row">

      <div class="col s5">
          <!-- My Schedule -->
          <ul class="tabs">
            <li class="tab col s3"><a href="#calendar">My Calendar</a></li>
            <li class="tab col s3"><a href="#generalCalendar">Team Calendar</a></li>
          </ul>
          <div id='calendar' class="col s12"></div>
          <div id='generalCalendar' class="col s12"></div>
      </div>

      <div class="col s4" id="app">
        <!-- My Stats -->
          <div class="row" id="stats" style="height:200px;">
              <div class="col s6">
                <h2>Calls Taken: ${calls}</h2>
                <h2>AHT: ${aht}</h2>
                <h2>AWT: ${awt}</h2>
              </div>
              <div class="col s6">
                <h2>Chat Taken: ${chats}</h2>
                <h2>ACT: ${act}</h2>
                <h2>Emails Replied: ${emails}</h2>
              </div>

          </div>
          <div class="row" id="conts" style="height:500px; overflow: auto;">
               <ul id="contact_list"  class="collection with-header">
                  <li class="collection-header"><h4>Contacts</h4></li>
                  <li class="collection-item" v-for="contact in contacts">
                      <div>${contact.state }<span class="secondary-content"><a>${contact.callerid}</a><a> - ${contact.duration}</a></span></div>
                  </li>
                </ul>
          </div>
      </div>
        <div class="col s3">
                <div id="states" class="input-field">
                    <select id="agentState" name="agentState">
  							<option value="" disabled selected>Choose a state</option>
  							<option value="resume">Ready</option>
  							<option value="Wrapup Time">Wrapup Time</option>
  							<option value="Break">Break</option>
  							<option value="Lunch">Lunch</option>
  							<option value="Personal">Personal</option>
  							<option value="Email">Email</option>
  							<option value="Meeting">Meeting</option>
  							<option value="Outbound Call">Outbound Call</option>
  							<option value="Chat">Chat</option>
  							<option value="Coaching">Coaching</option>
  							<option value="Training">Training</option>
  							<option value="Aux 1">Aux 1</option>
  							<option value="Aux 2">Aux 2</option>
  							<option value="Aux 3">Aux 3</option>
  							<option value="login">Log In</option>
  							<option value="logout">Log Out</option>
  						</select>
  						<label>Agent State</label>
                </div>
                <div><span id="statusMessage"></span></div>
        </div>
    </div>
</div>
{% endblock content %}
