{# HTML5 declaration #}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home{% endblock title %} | CS Ops</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{{ STATIC_URL }}images/favicon.ico">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                {% load static %}
                <link href="{% static 'css/materialize.min.css' %}" rel='stylesheet' media="screen"/>
            {% endblock head_css_site %}
            
            {% block head_css_section %}{% endblock head_css_section %}
            
            {% block head_css_page %}{% endblock head_css_page %}
        
        {% endblock head_css %}
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        {% block head_js %}

        {% endblock head_js %}
    </head>
    
    <body>
    {# Navigation Menu #}
        <div>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper indigo darken-1">
                        <a href="#" class="brand-logo">CS Ops 360</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            {% if user.is_authenticated %}
                                <li><a href="/accounts/logout/">Logout</a></li>
                                <li><a href="/quality/form/new">Quality</a></li>
                                <li><a href="/quality/wfm/calendar">WFM</a></li>
                            {% else %}
                                <li><a href="/accounts/login/">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
            <br/>
            <br/>
        {# The Document Body #}
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        {# The Footer #}
        <div class="footer">
            <div class="container">
                <p>Copyright</p>
            </div>
        </div>
    </div>
</body>
    
    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            {% load static %}
            <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>