{% extends 'site/base.html' %}

{% block title %}Dashboard{% endblock %}
   
    {% block head_css_section %}
    {% endblock head_css_section %}

    {% block head_css_page %}
        <style>
             .error {color: #FF0000;}
             
             .pinned {width: 70%; padding-left: 80px}
        </style>
    {% endblock head_css_page %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static '\media\checklist-300x256.jpg' %}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>CS Ops Quality Assurance Call Form</p>
                    </div>
                    <div class="card-action">
                        <a href="/quality/form/new">Create a new form</a>
                        <a href="/quality/form/search">Search a form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static '\media\Phone-queue.jpg' %}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Phone Queue Management</p>
                    </div>
                    <div class="card-action">
                        <a href="/phone/queues">Queue Management</a>
                        <a href="/phone/agents">Agent Management</a>
                        <a href="/phone/issues">Report an Issue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static '\media\wfm-icon.png' %}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Workforce Management</p>
                    </div>
                    <div class="card-action">
                        <a href="/wfm/calendar">My Schedule</a>
                        <a href="/wfm/calendar/team">Team Schedule</a>
                        <a href="/wfm/request/">Requests</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static '\media\client-icon.png' %}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Workforce Management</p>
                    </div>
                    <div class="card-action">
                        <a href="/client/add">Add New Client</a>
                        <a href="/client/client">Edit Client Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
