{% extends 'site/base.html' %}

{% block title %}Dashboard{% endblock %}

    {% block head_css_section %}
    {% endblock head_css_section %}

    {% block head_css_page %}
        <style>
             .error {color: #FF0000;}

             .pinned {width: 70%; padding-left: 80px}
        </style>
    {% endblock head_css_page %}

{% block content %}
{% load app_filters %}
<div class="container">
    {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" or request.user|has_group:"Agent" %}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static '\media\checklist-300x256.jpg' %}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>CS Ops Quality Assurance Call Form</p>
                    </div>
                    <div class="card-action">
                         {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" %}<a href="/quality/form/v2/Phone">Create a new phone form</a>{% endif %}
                         {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" %}<a href="/quality/form/v2/Email">Create a new email form</a>{% endif %}
                         {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" %}<a href="/quality/form/v2/Chat">Create a new chat form</a>{% endif %}
                        <a href="/quality/form/v2/search/">Search a form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" %}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static '\media\Phone-queue.jpg' %}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Phone Queue Management</p>
                    </div>
                    <div class="card-action">
                        <a href="/phone/queues">Queue Management</a>
                        <a href="/phone/agents">Agent Management</a>
                        <a href="/phone/issues">Report an Issue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static '\media\wfm-icon.png' %}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Workforce Management</p>
                    </div>
                    <div class="card-action">
                        {% if request.user|has_group:"Agent" or request.user|has_group:"Admin"%}<a href="/wfm/calendar">My Schedule</a>{% endif %}
                        {% if request.user|has_group:"Agent" or request.user|has_group:"Admin"%}<a href="/agent/">My Dashboard</a>{% endif %}
                        {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" %}<a href="/wfm/calendar/team">Team Schedule</a>{% endif %}
                        {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" %}<a href="/wfm/calendar/manage">Team Management View</a>{% endif %}
                        {% if request.user|has_group:"Agent" or request.user|has_group:"Admin"%}<a href="/wfm/request/">Requests</a>{% endif %}
                        {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" %}<a href="wfm/manager/request/">Request on behalf of agent</a>{% endif %}
                        {% if request.user|has_group:"Supervisor" or request.user|has_group:"TeamLead" or request.user|has_group:"Admin" %}<a href="/wfm/review/requests">Review Requests</a>{% endif %}
                        {% if request.user|has_group:"Agent" or request.user|has_group:"Admin"%}<a href="/wfm/agent/review/requests">Review Requests</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if request.user|has_group:"ClientAdmin" or request.user|has_group:"Admin" %}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static '\media\client-icon.png' %}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Client Management</p>
                    </div>
                    <div class="card-action">
                        <a href="/client/add">Add New Client</a>
                        <a href="/client/client">Edit Client Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
