{% extends 'site/base.html' %}

{% block title %}Add User{% endblock %}


{% block content %}
{% if messages %}
        {% for message, color in messages.items %}
            <script>Materialize.toast('{{message}}', 4000, '{{color}}');</script>
        {% endfor %}
    {% endif %}
<div class="container">
    <div class="row">
        <form class="col s12" action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <select multiple id="Agent" name="agent">
                        <option value="" disabled selected>Select an Agent</option>
                        {% for id, agent in agent_list.items %}
                        <option value={{ id }}>{{ agent }}</option>
                        {% endfor %}
                    </select>
                    <label>Select an Agent</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <select multiple id="skill" name="skill">
                        <option value="" disabled selected>Select a skill</option>
                        {% for s in skills %}
                        <option value={{ s.id }}>{{ s.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Select an Skill</label>
                </div>
            </div>
            
           <div class="row">
                <div class="input-field col s6">
                    <select id="location" name="location">
                        <option value="" disabled selected>Select a location</option>
                        {% for l in locations %}
                        <option value={{ l.id }}>{{ l.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Select a Location</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <select multiple id="group" name="group">
                        <option value="" disabled selected>Select a group</option>
                        {% for k, l in groups.items %}
                        <option value={{ k }}>{{ l }}</option>
                        {% endfor %}
                    </select>
                    <label>Select a group</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                  <input id="pwd" name="pwd" type="password" class="validate">
                  <label for="pwd">Password</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                  <input id="labels" type="text" class="validate">
                  <label for="labels">Labels</label>
                </div>
            </div>
            
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
            
        </form>
    </div>
</div>
{% endblock content %}

{% block footer_javascript_section %}
<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: true // Close upon selecting a date,
          });
        $("#Action").on('change', function() {
            if (this.value == "Schedule_a_Meeting"){
                $('#meeting').removeClass('hide');
            }
            else{
                $('#meeting').addClass('hide');
            }
        });
    });
</script>
{% endblock footer_javascript_section %}
