{% extends 'site/base.html' %}

{% block title %}Quality{% endblock %}
   
    {% block head_css_section %}
    {% endblock head_css_section %}

    {% block head_css_page %}
        <style>
             .error {color: #FF0000;}
             
             .pinned {width: 70%; padding-left: 80px}
        </style>
    {% endblock head_css_page %}
{% block pagetitle %}Quality Call Assurance Form{% endblock pagetitle %}
{% block content %}
    {% if errors %}
        
        {% for field, value in errors.items %}
            <script>Materialize.toast('{{value}}', 4000, 'red');</script>
        {% endfor %}
        
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <script>Materialize.toast('{{message}}', 4000, 'green');</script>
        {% endfor %}
    {% endif %}

    <div class="container" id="form-quality">
        
        <form method="post" action="">
            {% csrf_token %}
            <div class="block">
  
            <div class="grey lighten-2">
            <div class="row">
                
                <div class="input-field col s3">
                    <select id="selectEvalName" name="selectEvalName">
                        {% for id, name in supervisor.items %}
                            <option value="{{id}}" selected>{{name}}</option>
                        {% endfor %}
                    </select>
                    <label>Who is evaluating?</label>
                </div>
                
                <div class="input-field col s3">
                    <select id="selectAgentName" name="selectAgentName">
                        <option value="" disabled selected>Choose an agent</option>
                        {% for agent in agents %}
                            <option value="{{agent.id}}">{{agent.name}}</option>
                        {% endfor %}
                    </select>
                    <label>Agent Name</label>
                </div>
                
                <div class="input-field col s3">
                    <select id="selectLanguage" name="selectLanguage">
                        <option value="" disabled selected>Choose a language</option>
                        {% for key, language in languages.items %}
                            <option value="{{key}}">{{language}}</option>
                        {% endfor %}
                    </select>
                    <label>Language</label>
                </div>
                
                <div class="input-field col s3">
                    <input id="inputWalletNumber" name="inputWalletNumber" type="text" class="validate">
                    <label for="inputWalletNumber">Account Number</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s3">
                    <input id="calendarDateCall" name="calendarDateCall" type="text" class="datepicker">
                    <label for="calendarDateCall">Date of Contact</label>
                </div>
                <div class="input-field col s3">
                    <input id="inputProgramName" name="inputProgramName" type="text" class="validate">
                    <label for="inputProgramName">Program Name</label>
                </div>
                
                <div class="input-field col s3">
                    <input id="inputRecordingFile" name="inputRecordingFile" type="text" class="validate">
                    <label for="inputRecordingFile">File Name</label>
                </div>
                
                <div class="input-field col s3">
                    <select id="selectEvalType" name="selectEvalType">
                        <option value="" disabled selected>Choose a Type</option>
                        <option value="Metabank">Metabank</option>
                        <option value="Bancorp">Bancorp</option>s
                        <option value="Internal">HW Internal</option>
                    </select>
                    <label>Evaluation Type</label>
                </div>
            
            </div>
                
            <div class="row">
                <div class="input-field col s3">
                    <input id="calendarDateEval" name="calendarDateEval" type="text" class="datepicker">
                    <label for="calendarDateEval">Date of Evaluation</label>
                </div>
                <div class="input-field col s3">
                    <input id="inputLengthCall" name="inputLengthCall" type="text" class="validate">
                    <label for="inputLengthCall">Length of Call [min:sec]</label>
                </div>
                
                <div class="input-field col s3">
                    <select id="selectPrimaryReason" name="selectPrimaryReason">
                        <option value="" disabled selected>Choose a reason for contact</option>
                        {% for s in service %}
                            <option value="{{s}}">{{s}}</option>
                        {% endfor %}
                    </select>
                    <label>Primary Reason for Contact</label>
                </div>
                
                <div class="input-field col s3">
                    <select id="selectSecondaryReason" name="selectSecondaryReason">
                        <option value="" disabled selected>Choose a reason for contact</option>
                        {% for s in service %}
                            <option value="{{s}}">{{s}}</option>
                        {% endfor %}
                    </select>
                    <label>Secondary Reason for Contact</label>
                </div>
            
            </div>
                
            </div>

            </div>
            <div class="row">
                <h4 class="col s2">Total Score</h4>
                <h4 class="col s2" id="OverallTotal">0.00%</h4>
                <div class="input-field col s3 hide">
                    <input id="inputTotalScore" name="inputTotalScore" type="text" class="validate">
                    <input id="inputAllFailed" name="inputAllFailed" type="text" class="validate" value="000000">
                </div>
                <div class="input-field col s3 hide">
                    <input id="form_id" name="form_id" type="text" class="validate" value="{{ form_id }}">
                </div>
                <a class="waves-effect waves-light btn col offset-s2 red modal-trigger" href="#evalModal">Evaluation legend</a>
                <a class="waves-effect waves-light btn col offset-s1 green" href="/quality/form/v2/search">Search Evaluations</a>

            </div>
                
            {% for section in form %}
                {% if section.weight == 0 %}
                    <div id="{{ section.name }}">
                        <div class="row">
                            <div class="col s1">
                                <a class="btn-floating btn-large waves-effect waves-light blue" id="close{{ section.id }}"><i class="material-icons">add</i></a>    
                            </div>
                            <h5 class="col s11">{{ section.name }}</h5>
                            <h5 class="col s3 hide" id="total{{ section.id }}">0 out of {{ section.weight }}%</h5>
                            <h5 class="col s3 hide" id="toth{{ section.id }}">0</h5>
                            <div id="sectionQuestions{{ section.id }}" style="display: none;">
                            <div class="col s12">
                                <div class="row">
                            {% for q in section.questions %}
                                
                                    <div class="input-field col s4">
                                      <textarea id="{{ q.id }}" name="{{ q.id }}" class="materialize-textarea"></textarea>
                                      <label for="{{ q.id }}">{{ q.question }}</label>
                                    </div>
                                
                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                {% else %}
            
                    <div id="{{ section.name }}">
                        <div class="row">
                            <div class="col s1">
                                <a class="btn-floating btn-large waves-effect waves-light blue" id="close{{ section.id }}"><i class="material-icons">add</i></a>
                            </div>
                            <h5 class="col s8">{{ section.name }} - {{ section.weight }}% of Total</h5>
                            <h5 class="col s3" id="total{{ section.id }}">0 out of {{ section.weight }}%</h5>
                            <h5 class="col s3 hide" id="toth{{ section.id }}">0</h5>
                            <div id="sectionQuestions{{ section.id }}" style="display: none;">

                                {% for q in section.questions %}
                                
                                {% if q.question == "Comments" %}
                                
                                <div class="input-field col s12">
                                  <textarea id="input{{ section.id }}" name="input{{ section.id }}" class="materialize-textarea"></textarea>
                                  <label for="input{{ section.id }}">Comments</label>
                                </div>
                                
                                
                                {% else %}
                                <div class="col s12">
                                <div class="row">
                                    <h5 id="{{ q.id }}L" name="{{ q.id }}L" class="col s6 offset-s1">{{ q.question }}</h5>
                                    <select id="select{{ q.id }}" name="select{{ q.id }}" class="col s2"  v-model="question{{q.id}}">
                                        <option value="0" disabled selected>Select a score</option>
                                        {% for answer in q.answers %}
                                        <option value="{{ answer.weight }}">{{ answer.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label>Score</label>

                                </div>
                                </div>
                                {% endif %}
                                {% endfor %} 
                                
                            </div>
                            
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            
            <div class="fixed-action-btn" style="bottom: 135px; right: 24px;">
                <a id="menu" class="waves-effect waves-light btn btn-floating red" onclick="$('.tap-target').tapTarget('open')"><i class="material-icons">menu</i></a>
            </div>
            
            <div class="tap-target red" data-activates="menu">
                <div class="tap-target-content white-text">
                    <p>.</p>
                    <p>.</p>
                    <p>.</p>
                    <p>.</p>
                    <p>.</p>
                    <h5>Evaluation Legend</h5>
                    <p>Exceeds Expectations (87% and above) = Exceeds key requirements.
                    <br /><br />Meets Expectations (70 to 86%) = Meets key requirements.
                    <br /><br />Partially Meets Expectations (40 to 69%) = Partially meets key requirements.
                    <br /><br />Does Not Meet Expectations (0 to 39%) = Fails to meet minimum requirements.
                    <br /><br />Not Applicable (N/A)  - Does not apply to the item selection or not observed</p>
                </div>
            </div>
            
            <!-- Modal Structure -->
            <div id="evalModal" class="modal">
                <div class="modal-content">
                    <h4>Evaluation Guide</h4>
                    {% load static %}
                    <img class="materialboxed center" width="950" src="{% static '\media\evalLegend.png' %}">
                </div>
                <div class="modal-footer">
                    <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
          </div>
            
            <br/>
            <br/>
            <br/>
            
            <div class="row">
                <div class="col s4">
                    <h6>Acknowledgement by CSR</h6>
                </div>
                <div class="col s4 offset-s4">
                    <h6>Acknowledgement by Assessor</h6>
                </div>
            </div>
            
            <div class="row">
                <div class="col s4 input-field">
                    <input id="inputAcknAgent" type="text" class="validate">
                    <label for="inputAcknAgent">Name</label>
                </div>
                <div class="col s4 offset-s4 input-field">
                    <input id="inputAcknAssessor" type="text" class="validate">
                    <label for="inputAcknAssessor">Name</label>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col s4 input-field">
                    <input id="inputAcknAgentDate" type="text" class="validate">
                    <label for="inputAcknAgentDate">Date</label>
                </div>
                <div class="col s4 offset-s4 input-field">
                    <input id="inputAcknAssessorDate" type="text" class="validate">
                    <label for="inputAcknAssessorDate">Date</label>
                </div>
            </div>
            
            <div class="row">
                <div class="col s4 input-field">
                    <input id="inputAcknAgentSignature" type="text" class="validate">
                    <label for="inputAcknAgentSignature">Signature</label>
                </div>
                <div class="col s4 offset-s4 input-field">
                    <input id="inputAcknAssessor" type="text" class="validate">
                    <label for="inputAcknAssessor">Signature</label>
                </div>
            </div>
            
            <div class="row">
                {% if not is_agent %}
                
                <div class="input-field col s1">
                    <select id="selectStatus" name="selectStatus">
                        <option value="draft" selected>Draft</option>
                        <option value="final">Final</option>
                    </select>
                    <label>Form Status</label>
                </div>
                
                <div class="col s2 input-field">
                    <button class="btn waves-effect waves-light" type="submit" name="action" value="submit">Submit<i class="material-icons right">send</i></button>
                </div>
                {% endif %}
                <div class="col s2 input-field">
                    <input class="btn waves-effect waves-light" type="button" name="clear" value="Clear" onClick="newDoc()">
                </div>
                
            </div>
            
            <br/>
            <br/>
            
        </form>
    
    </div>
    
    <script>
        
        function newDoc() {
            window.location = window.location.href;
        }
        
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#form-quality',
            data: {
                {% for section in form %} {% for question in section.questions %} question{{ question.id}}: 0, {% endfor %}{% endfor %}
            },
            computed: {
                // a computed getter
                {% for section in form %} section{{ section.id }}() { qTotal = {% for question in section.questions %} Math.abs(parseFloat(this.question{{ question.id}})) + {% endfor %} 0; return qTotal;
                }, {% endfor %} 
              },
            ready: function() {
              $("select").material_select();
            }
            
        });
        
        $(document).ready(function() {
            $('.materialboxed').materialbox();
            $('.blockPinned').pushpin({
              top: 100,
              offset: 70,
            });
            
            $("select").material_select(); 
            
            $('#calendarDateCall').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                format: 'yyyy-mm-dd', 
                dateFormat: 'yyyy-mm-dd',
                formatSubmit: 'yyyy-mm-dd',
              });
            
            $('#calendarDateEval').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                format: 'yyyy-mm-dd', 
                dateFormat: 'yyyy-mm-dd',
                formatSubmit: 'yyyy-mm-dd',
              });
            
            $('.modal').modal();
            
            {% for section in form %}
            
            $("#close{{ section.id }}").click(function(){
                $("#sectionQuestions{{ section.id }}").toggle();
            });
            {% endfor %}
            
        {% if fields %}
            {% for field, value in fields.items %}
                {% autoescape off %}
                $('#{{field}}').val("{{value|escapejs}}");
                 {% endautoescape %}
                 $('#{{field}}').trigger('autoresize');
            {% endfor %}
            
            {%for field, value in dropdowns.items %}
                $('#{{field}}').val('{{value}}').trigger('change');
                $('#{{field}}').material_select(); 
            {% endfor %}
        
        {% endif %}
            
            {% for section in form %} 
                {% for question in section.questions %} 
                $("#select{{question.id}}").change(function(){
                    evalSection({{section.id}}, {{section.weight}}, {{section.questions|length}}, {%if "Security" in section.name %} true {% else %} false {% endif %});
                });
                {% endfor %}
            {% endfor %}
            
        function evalSection(fNum, perc, questions, failed){
            var numFields = 0;
            var total = 0;
            var allFailed = false;
            
            if(failed){$("#inputAllFailed").val("False");}
            
            
            selectObjects = $('#sectionQuestions' + fNum + ' select');
                
            selectObjects.each(function(index){
                value = $(this).val()
                if(value != "NA" && value != null && !allFailed){
                    var vl = parseFloat(value);
                    if (vl < 0){
                        vl = vl * -1;
                    }
                    total += vl;
                    if(failed && parseFloat(value) == 0){
                        allFailed = true;
                        $("#inputAllFailed").val("True");
                    }
                }
            });
                
            if(allFailed){
                total = 0;
            }
            
            if($("#inputAllFailed").val() == "True"){
                allFailed = true;
            }
            
            $("#total"+fNum).text(total + "% out of " + perc + "%");
            $("#toth"+fNum).text(total);
            
            evalTotal(allFailed);
        }
        
        function evalTotal(failed){
            var total = 0;
            $('[id^="toth"]').each(function(index){
                total += parseFloat($(this).text());
            });
            
            if(failed){
                total = 0;
            }

            $("#OverallTotal").text(total + "%");
            $("#inputTotalScore").val(total);
        }
            
            
                 
        {% if fields %}
            {% for field, value in fields.items %}
                {% if "select" in field %}
                    $('#{{field}}').val('{{value}}').trigger('change');
                    $('#{{field}}').material_select(); 
                 {% else %}
                    {% autoescape off %}
                    $('#{{field}}').val('{{value|escapejs}}');
                    {% endautoescape %}
                    $('#{{field}}').trigger('autoresize');
                 {% endif %}
            {% endfor %}
            
            {%for field, value in overview.items %}
                {% if "select" in field %}
                    $('#{{field}}').val('{{value}}').trigger('change');
                    $('#{{field}}').material_select(); 
                 {% else %}
                    {% autoescape off %}
                    $('#{{field}}').val('{{value|escapejs}}');
                    {% endautoescape %}
                    $('#{{field}}').trigger('autoresize');
                 {% endif %}
            {% endfor %}
        
        {% endif %}
        });
    </script>
{% endblock content %}
    
