{% extends 'site/base.html' %}

{% block title %}Support Cost Calculator{% endblock %}
   
    {% block head_css_section %}
    {% endblock head_css_section %}

    {% block head_css_page %}
        <style>
        .channel-link{
                
            font-size: 11px
        }

    </style>
    {% endblock head_css_page %}

{% block head_js %}
    {% load static %}
        <script type="text/javascript" src="{% static 'js/jspdf.min.js' %}"></script>

{% endblock head_js %}
{% block pagetitle %}Support Cost Form{% endblock pagetitle %}
{% block content %}
    <div class="container" id="services">   
        <form action="" method="post">
            {% csrf_token %}
            <div class='hide'>
                    <input id="support_cost" type="text" name="support_cost" value={{ cost }} v-model="support_cost">
                </div>
            <div class='hide'>
                    <input id="size" type="text" name="size" value={{ size }}>
                </div>
            <div id="cost_breakdown">
            <ul class="collapsible collapsible-accordion" >
                <li>
                    <div class="collapsible-header"><i class="material-icons">people</i>Support Summary - ${{cost}} /month</div>
                    <div class="collapsible-body">
                        {% for channel, hours in support.items %}
                            <ul class="collection with-header">
                                <li class="collection-header"><h4>{{channel|capfirst}}</h4></li>
                            {% for hour, cost in hours.items %}
                                <li class="collection-item">{{hour|capfirst}} - ${{cost}}</li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="material-icons">bubble_chart</i>Additional Services - {% verbatim %} {{additionalCost}} {% endverbatim %}</div>
                    <div class="collapsible-body">
                        <div>
                            {% for service, cost in additional_service.items %}
                            <p>
                                <input type="checkbox" id="{{service}}" value="{{cost}}" v-model="additional_cost"/>
                                <label for="{{service}}">{{service}} - ${{cost}}</label>  
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">bubble_chart</i>Telephone Numbers - {% verbatim %} {{phone_additionalCost}} {% endverbatim %}</div>
                    <div class="collapsible-body">
                        <div>
                            {% for country, cost in phone_additional_service.items %}
                            <p>
                                <input type="checkbox" id="{{country}}" value="{{cost}}" v-model="{{country}}_phone_additional_cost"/>
                                <label for="{{country}}">{{country}} - ${{cost}}</label>  
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>

            <div class="row" id="total">
                <div class="col s4 offset-s8">
                    <h5>Total {% verbatim %} {{totalCost}} {% endverbatim %}</h5>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col s2">
                     <a class="btn waves-effect waves-light" v-on:click="savePDF">Save PDF
                        <i class="material-icons right">send</i>
                      </a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block footer_javascript_page %}
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
    
     
    
    var app = new Vue({
        el: '#services',
        data: {
            additional_cost: [],
            phone_additional_cost: [],
            support_cost: {{cost}},
            {% for country, cost in phone_additional_service.items %}
                {{country}}_phone_additional_cost: [],
            {% endfor %}
        },
        computed: {
            additionalCost(){
                var total = this.additional_cost.reduce((acc, item) => acc + Number(item), 0);
                return "$" + total + " /month";
                
            },
            phone_additionalCost(){
                var total = 0
                {% for country, cost in phone_additional_service.items %}
                    total = total + this.{{country}}_phone_additional_cost.reduce((acc, item) => acc + Number(item), 0);
                 {% endfor %}
                return "$" + total + " /month";
                
            },
            totalCost(){
                var total = this.additional_cost.reduce((acc, item) => acc + Number(item), 0) + this.support_cost;
                {% for country, cost in phone_additional_service.items %}
                    total = total + this.{{country}}_phone_additional_cost.reduce((acc, item) => acc + Number(item), 0);
                {% endfor %}
                return "$" + total + " /month";
            }
            
        },
        methods: {
            savePDF: function() {
                var d = new Date();
                var doc = new jsPDF();
                var d_formated = d.getFullYear() + "-" + d.getMonth() + "-" +d.getDay() + "-" + d.getHours() + "-" + d.getMinutes() + "-" + d.getSeconds()
                var elementHandler = {
                  '#ignorePDF': function (element, renderer) {
                    return true;
                  }
                };
                var source = window.document.getElementById("services");
                doc.fromHTML(
                    source,
                    15,
                    15,
                    {
                      'width': 200,'elementHandlers': elementHandler
                    });

                doc.save(d_formated + '.pdf');
            },
        }
        
    });
</script>
{% endblock footer_javascript_page %}
