{% extends 'site/base.html' %}

{% block title %}Team Schedule{% endblock %}

    {% block head_css_section %}
        {% load static %}
        <link href="{% static "shifts/fullcalendar.min.css" %}" rel='stylesheet' />
        <link href="{% static "shifts/scheduler.min.css" %}" rel='stylesheet' />
        <link href="{% static "shifts/fullcalendar.print.min.css" %}" rel='stylesheet' media="print" />
    {% endblock head_css_section %}

    {% block head_css_page %}
        <style>

        body {

            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

    </style>
    {% endblock head_css_page %}
{% load app_filters %}
{% block head_js %}
    {% load static %}
    <script src="{% static "shifts/lib/moment.min.js" %}"></script>
    <script src="{% static "shifts/fullcalendar.min.js" %}"></script>
    <script src="{% static "shifts/scheduler.min.js" %}"></script>

    <script>

	   $(document).ready(function() {
        var $input = $('.datepicker').pickadate();
        var picker = $input.pickadate('picker');
        picker.on('set', function(thingSet) {
          var mom = this.get();
            if (mom.length > 0){
                var momentObj = moment(mom, 'DD MMMM, YYYY');
                $('#calendar').fullCalendar('gotoDate', momentObj);
            }
        });
		$('#calendar').fullCalendar({
            height: 700,
            contentHeight: 700,
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            resourcesInitiallyExpanded: false,
            customButtons: {
                calendarButton: {
                  text: 'calendar',
                  click: function() {
                    var $input = $('.datepicker').pickadate();
                    var picker = $input.pickadate('picker');
                    picker.open(false);
                    picker.on('open', function() {
                      //console.log('This logs without opening!');
                    });
                  }
                },
                refreshButton: {
                  text: 'refresh',
                  click: function() {
                    $('#calendar').fullCalendar( 'refetchEvents' );
                  }
                },
              },
            header: {
				left: 'prev,next calendarButton today refreshButton',
				center: 'title',
                right: 'timelineMonth,timelineWeek,timelineDay'
			},
            defaultView: 'timelineDay',
			//defaultDate: '2017-09-12',
			editable: {% if request.user|has_group:"Admin"%}true{% else %}false{% endif %},
            selectable: true,
			eventLimit: true, // allow "more" link when too many events
            resourceOrder: 'title,',
            views: {
                timelineDay: {
                    buttonText: "Day",
                    snapDuration: '00:05:00',
                    displayEventTime: true,
                    displayEventEnd: true,
                    nowIndicator: true,
                },
                timelineWeek: {
                    buttonText: "Week",
                    snapDuration: '00:05:00',
                    displayEventTime: true,
                    displayEventEnd: true,
                },
                timelineMonth: {
                    buttonText: "Month",
                    snapDuration: '00:05:00',
                    displayEventTime: true,
                    displayEventEnd: true,
                },
            },
            resources: {
                url: '/wfm/resources/',
                type: 'GET'
              },
            events:
                // your event source
                {
                    url: '/wfm/team_events/', // use the `url` property
                },
            select: function (start, end, jsEvent, view, resource) {
                    var abc = prompt('Enter Title');
                    var allDay = !start.hasTime && !end.hasTime;
                    var newEvent = new Object();

                    if (abc == 'Shift'){
                        newEvent.title = abc;
                        newEvent.start = moment(start).format();
                        newEvent.end = moment(end).format();
                        newEvent.allDay = allDay;
                        newEvent.resourceId = resource.id;
                        newEvent.color = '#008288';
                        newEvent.textColor = '#fff';

                        $('#calendar').fullCalendar('renderEvent', newEvent);
                    }
                    else{
                        var theUrl = "/api/event/";

                        var json_upload = JSON.stringify({name: abc, });

                        var xmlHttp = new XMLHttpRequest();

                        xmlHttp.onreadystatechange = function() {
                            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                                var stat = JSON.parse(xmlHttp.responseText);
                                evts = stat.results;
                                for (x in evts) {
                                    if (abc == evts[x]['name']){
                                        newEvent.title = abc;
                                        newEvent.start = moment(start).format();
                                        newEvent.end = moment(end).format();
                                        newEvent.allDay = allDay;
                                        newEvent.resourceId = resource.id;
                                        newEvent.color = evts[x]['color'];
                                        newEvent.textColor = evts[x]['text_color'];
                                        $('#calendar').fullCalendar('renderEvent', newEvent);
                                        break;
                                    }
                                }
                            }
                        }
                        xmlHttp.open("GET", theUrl, true); // true for asynchronous
                        xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencodeds");
                        xmlHttp.send(json_upload);
                    }
                },
            eventDrop: function(event, delta, revertFunc) {

                if (!confirm("Are you sure about this change?")) {
                    revertFunc();
                }
                else{

                    var theUrl = "/wfm/change/";
                    var json_upload = JSON.stringify({profile:event.resourceId, event:event.id, start: event.start, end: event.end, title: event.title, time_delta: delta.asMinutes()});

                    var xmlHttp = new XMLHttpRequest();

                    xmlHttp.onreadystatechange = function() {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                            var stat = JSON.parse(xmlHttp.responseText);
                            if(stat.Status == 'OK'){
                                Materialize.toast(stat.data, 4000);
                                $('#calendar').fullCalendar('refetchEvents');
                            }
                            else{
                                Materialize.toast(stat.data, 4000);
                            }
                        }


                    }
                    xmlHttp.open("POST", theUrl, true); // true for asynchronous
                    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencodeds");
                    xmlHttp.send(json_upload);

                }

            },
            eventResize: function(event, delta, revertFunc) {

                if (!confirm("Are you sure about this change?")) {
                    revertFunc();
                }
                else{

                    var theUrl = "/wfm/change/";
                    var json_upload = JSON.stringify({profile:event.resourceId, event:event.id, start: event.start, end: event.end, title: event.title, time_delta: delta.asMinutes()});

                    var xmlHttp = new XMLHttpRequest();

                    xmlHttp.onreadystatechange = function() {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                            var stat = JSON.parse(xmlHttp.responseText);
                            if(stat.Status == 'OK'){
                                Materialize.toast(stat.data, 4000);
                            }
                            else{
                                Materialize.toast(stat.data, 4000);
                            }
                        }


                    }
                    xmlHttp.open("POST", theUrl, true); // true for asynchronous
                    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencodeds");
                    xmlHttp.send(json_upload);

                }

            },
            eventMouseover: function(event, jsEvent, view){
                var msg = "<strong>" + event.title + "</strong><br/>From: " + event.start.format("h:mm A") + "<br/>To: " + event.end.format("h:mm A");
                var tooltip = '<div class="tooltipevent" style="width:150px;height:60px;background:#fff;position:absolute;z-index:10001;">' + msg + '</div>';
                var $tooltip = $(tooltip).appendTo('body');

                $(this).mouseover(function(e) {
                    $(this).css('z-index', 10000);
                    $tooltip.fadeIn('500');
                    $tooltip.fadeTo('10', 1.9);
                }).mousemove(function(e) {
                    $tooltip.css('top', e.pageY + 10);
                    $tooltip.css('left', e.pageX + 20);
                });
            },
            eventMouseout: function(calEvent, jsEvent) {
                $(this).css('z-index', 8);
                $('.tooltipevent').remove();
            },
             dayClick: function(date, jsEvent, view, resourceObj) {

                console.log('Clicked on: ' + date.format());

                console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

                console.log('Current view: ' + view.name);

                console.log('Resource ID: ' + resourceObj.id);
                 console.log(resourceObj);


                var theUrl = "/wfm/change/";
                var json_upload = JSON.stringify({profile: resourceObj.id, event:event.id, start: event.start, end: event.end, title: event.title, time_delta: delta.asMinutes()});

                var xmlHttp = new XMLHttpRequest();

                xmlHttp.onreadystatechange = function() {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                        var stat = JSON.parse(xmlHttp.responseText);
                        if(stat.Status == 'OK'){
                            Materialize.toast(stat.data, 4000);
                        }
                        else{
                            Materialize.toast(stat.data, 4000);
                        }
                    }


                }
                xmlHttp.open("POST", theUrl, true); // true for asynchronous
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencodeds");
                xmlHttp.send(json_upload);

              }
		});
		$('.tooltipped').tooltip({delay: 50});
    $('.datepicker').pickadate({
       selectMonths: true, // Creates a dropdown to control month
       selectYears: 15, // Creates a dropdown of 15 years to control year,
       today: 'Today',
       clear: 'Clear',
       close: 'Ok',
       closeOnSelect: true, // Close upon selecting a date,
       container: undefined, // ex. 'body' will append picker to body
     });
	});

    </script>
{% endblock head_js %}
{% block pagetitle %}WFM Calendar{% endblock pagetitle %}
{% block content %}
    <div id='header'>
        <span>{{ name }}</span>
    </div>
  <div class="row">
    <div class="col s2">
    <input id="minCalendar" type="text" class="datepicker hide">
  </div>
  </div>
	<div id='calendar'></div>
    <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock content %}
