{% extends 'site/base.html' %}

{% block title %}Add Event{% endblock %}
{% block pagetitle %}Request{% endblock pagetitle %}

{% block content %}
{% if messages %}
        {% for message, color in messages.items %}
            <script>Materialize.toast('{{message}}', 4000, '{{color}}');</script>
        {% endfor %}
    {% endif %}
<div class="container">
    <div class="row">
        <form class="col s12" action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <select id="agent" name="agent">
                        <option value="" disabled selected>Select an agent</option>
                        {% for ag in agents %}
                        <option value={{ ag.id }}>{{ ag.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Select an agent</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="event" name="event">
                        <option value="" disabled selected>Select an activity</option>
                        {% for id, event in event_list.items %}
                        <option value={{ id }}>{{ event }}</option>
                        {% endfor %}
                    </select>
                    <label>Select an activity</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s3">
                    <input id="from" name="from" type="text" class="datepicker">
                    <label for="from">From Date</label>
                </div>
                <div class="input-field col s3">
                    <input id="from_time" name="from_time" type="text" class="timepicker">
                    <label for="from_time">From Start Time</label>
                </div>
                
            </div>
            
            <div class="row">
                <div class="input-field col s3">
                    <input id="to" name="to" type="text" class="datepicker">
                    <label for="to">To Date</label>
                </div>
                <div class="input-field col s3">
                    <input id="to_time" name="to_time" type="text" class="timepicker">
                    <label for="to_time">To End Time</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="notes" name="notes" class="materialize-textarea"></textarea>
                    <label for="notes">Notes</label>
                </div>
            </div>
            
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
            
        </form>
    </div>
</div>
{% endblock content %}

{% block footer_javascript_section %}
<script>
    $(document).ready(function() {
        
        $('select').material_select();
        
        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: true, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: false, // automatic close timepicker
            ampmclickable: true, // make AM PM clickable
            aftershow: function(){} //Function for after opening timepicker
          });
        
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: true // Close upon selecting a date,
          });

        
        //Initialize values if available
        
        {% if form_data %}
        
            {% for field, value in form_data.items %}
                $('#{{field}}').val('{{value}}');

                // re-initialize material-select

            {% endfor %}
            $('#event').material_select();
        {% endif %}
    });
</script>
{% endblock footer_javascript_section %}
